.feedback {
    background-color: rgba($color: #fff, $alpha: .6);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 417px;
            height: 293px;
        }
    }

    &__entry {
        display: flex;
        align-items: center;
        gap: 40px;

        &-title {
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
        }

        span {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }
}