.feedback {
    background-color: rgba($color: #fff, $alpha: .6);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1440px) {
            justify-content: center;
            height: 255px;
        }

        img {
            width: 20vw;
            height: 293px;
            object-fit: cover;

            @media (max-width:1440px) {
                display: none;
            }
        }
    }

    &__entry {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width:740px) {
            flex-direction: column;
            padding: 0 15px;
        }

        &-btn {
            @media (max-width: 540px) {
                width: 100%;
            }
        }

        &-title {
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
        }

        span {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    &__btn {
        @media (max-width: 540px) {
            width: 100%;
        }
    }
}