.numbers {
    &__wrapper{
        position: relative;
        padding-bottom: 100px;
    }

    &__slider {
        margin-top: 60px;
        display: flex;
        gap: 40px;
        overflow: hidden;

        &-item {
            text-align: center;
            min-width: 330px;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-number {
            background-image: url('../img/icons/marker-1.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 70px;
            width: 160px;
            font-family: Jost;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            display: flex;
            align-items: end;
            justify-content: center;
            margin: 0 auto;
        }

        &-text {
            font-family: Jost;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            margin-top: 20px;
            margin-bottom: auto;
        }

        &-all {
            font-family: Jost;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
        }
        &-nav {
            position: absolute;
            display: flex;
            align-items: center;
            left: 50%;
            transform: translateX(-50%);
            bottom: 12px;
        }

        &-counter {
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            // line-height: 32px;
            display: flex;
            align-items: center;
        }
    }
}