.types {
    display: block;
    padding: 150px 0 80px;
    background-color: rgba($color: #fff, $alpha: .6);
    &__slider {
        width: 100%;
        margin: 90px auto 0;
    }

    &__slide {
        display: inline-block;
        max-width: 600px;
        max-height: 472px;
        object-position: center;


        &-img {
            max-width: 600px;
            max-height: 370px;
            overflow: hidden;
        img {
            width: 100%;
            max-height: 370px;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.4s;
            &:hover{
                transform: scale(1.05) rotate(1deg);
            }
        }
        }

        &-info {
            background-color: var(--accent);
            height: 100px;
            padding: 0 144px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Jost;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            color: #fff;
        }
    }
}